<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>Titanic Ticket Checker</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
    <!-- Creates the Overall Grid -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Titanic Ticket Checker</h1>
            </div>
        </div>

        <form>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputAge">Age</label>
                    <input type="number" class="form-control" id="inputAge" placeholder="Age in Years">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputGender">Gender</label>
                    <select class="form-control" id="inputGender">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassengerClass">Passenger Class</label>
                    <select class="form-control" id="inputPassengerClass">
                        <option value="1">First Class</option>
                        <option value="2">Second Class</option>
                        <option value="3">Third Class</option>
                    </select>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputNumberOfSiblings">Number Of Siblings / Spouses</label>
                    <input type="number" class="form-control" id="inputNumberOfSiblings" placeholder="# Siblings / Spouses aboard">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputNumberOfParents">Number Of Parents / Children</label>
                    <input type="number" class="form-control" id="inputNumberOfParents" placeholder="# Parents / Children aboard">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputFare">Fare</label>
                    <input type="number" class="form-control" id="inputFare" placeholder="Fare">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPortOfEmbarkment">Port of Embarkation</label>
                    <select class="form-control" id="inputPortOfEmbarkment">                        
                        <option value="C">Cherbourg</option>
                        <option value="Q">Queenstown</option>
                        <option value="S">Southampton</option>
                    </select>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <button id="doCheckTicket" type="submit" class="btn btn-primary">Check My Ticket</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="form-group col-md-12"></div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <div id="alertOutcome" class="alert alert-primary" role="alert">
                </div>
            </div>
        </div>
    </div>

    </div>

    <script type="text/javascript" src="static/js/app.js"></script>

</body>

</html>